body,
h1,
ul,
li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  line-height: 1.6;
  color: red;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1em 0;
}

header h1 {
  margin: 0;
  text-align: center;
}

header nav ul {
  list-style: none;
  text-align: center;
}

header nav ul li {
  display: inline;
  margin: 0 1em;
}

header nav ul li a {
  color: white;
  text-decoration: none;
}

main {
  padding: 2em 0;
}

.products {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.product {
  border: 1px solid black;
  border-radius: 3px;
  padding: 1em;
}

.product img {
  max-width: 100%;
  height: auto;
  border-bottom: 1px solid blue;
  padding-bottom: 1em;
}

.product h2 {
  font-size: 1.2 em;
}

.product button {
  background-color: green;
  color: rebeccapurple;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

.product button:hover {
  background: aquamarine;
}

footer {
  background: beige;
  color: black;
  text-align: center;
  padding: 1em 0;
  position: fixed;
  width: 100%;
  bottom: 0%;
}

.profile {
  text-align: center;
}

.profile .p-pic {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.profile p {
  font-size: 1.2 em;
}
